Close non-persistent connections

According to [RFC7230 section 6.6] (https://tools.ietf.org/html/rfc7230#section-6.6) the server must close the write-side of its connection. Otherwise connections will hang if the client does not conform to the spec either.
Here's a patch for async.


``` diff
--- cohttp/async/cohttp_async.ml	Thu Oct 15 18:31:24 2015
+++ cohttp.0.19.3/async/cohttp_async.ml	Thu Oct 15 18:47:06 2015
@@ -297,7 +297,8 @@
                         (if keep_alive then "keep-alive" else "close") in
         { res with Response.headers } in
       Response.write ~flush (Body.write Response.write_body res_body) res wr >>= fun () ->
-      Writer.flushed wr >>= fun () ->
+      Writer.(if keep_alive then flushed else close ~force_close:(Deferred.never ())) wr
+      >>= fun () ->
       Body.drain body
     ) >>= fun () ->
     Writer.close wr >>= fun () ->
```
I used ``~force_close:(Deferred.never ())`` instead of ``?force_close:None`` to keep the behavior of ``Writer.flushed``, which would wait forever, too. ``Writer.close`` has a timeout of 5s for inet sockets, forever for files.

I did not manage to build the example server for lwt:
```
File "server_lwt.ml", line 15, characters 22-41:
Error: This expression has type [> `TCP of [> `Port of int ] ]
       but an expression was expected of type Conduit_lwt_unix.server
```

Maybe someone familiar with lwt can check whether it needs fixing, too?

Not sure about the `~force_close` stuff, but this patch should probably get applied to the codebase. Maybe you could open a pull request to start the process?