Parsing of Content-Type does not strictly follow the RFC

For reference see https://github.com/mirage/ocaml-cohttp/pull/725 and the discussion in https://github.com/mirage/ocaml-cohttp/pull/542

If someone wants to work on this part of CoHTTP, he should take a look on [typebeat](https://github.com/mirage/typebeat) (which will be archived!). The work of `typebeat` comes from what we did about [mrmime](https://github.com/mirage/mrmime) (email and HTTP share the same RFC about `Content-Type` - see [RFC 2045 § 5](https://tools.ietf.org/html/rfc2045#section-5)).

Note that, even if the format seems quite close, `Accept{-*}` field has another format described in [RFC 7231 § 5.3](https://tools.ietf.org/html/rfc7231#section-5.3) which is **not** handle by `typebeat`.

A final note is about `FWS` and `CFWS` token which can be the part of values (according [RFC 7230 § 3.2.4](https://tools.ietf.org/html/rfc7230#section-3.2.4)), Even if it's considered as an **obsolete** form of values, you should handle such layout. You should look into [unstrctrd](https://github.com/dinosaure/unstrctrd) which _folds_ these kind of whitespace - `mrmime` uses it to pre-process the value and delete all `FWS`/`CFWS`.